<h1> Create New Student</h1>
<% if @student.errors.any? %>
  <% @student.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
<% end %>

<%= render partial: 'form', locals: {student: @student} %>
<%= link_to 'Cancel & Back', students_path %>